.history/
node_modules/
config.yml
AWA-Helper.exe
*.zip
output/
log.txt
version
chrome-win
USDailyQuest*
lock
login-key.txt
awa-info.json
node-v16.17.0-win-x64
auto-close
dist/

test.js
test.ts
test.exe
