.history/
node_modules/
config.yml
config1.yml
config2.yml
AWA-Helper.exe
*.zip
*.tar
*.tar.gz
*.blob
!node-v18.17.1-win-x64.zip
output/
log.txt
version
chrome-win
USDailyQuest*
lock
login-key.txt
refresh_token.txt
awa-info.json
node-v16.17.0-win-x64
auto-close
dist/
dist0/
crts/
dailyQuestDbCloud.json
DailyQuestUS.ts
installer/
node-v18.17.1-win-x64/

test.js
test.ts
test.exe
temp/
src/DailyQuestUS.ts
src/SteamQuestSU.ts
babel.index.js
src/package.json
node_linux/*
src/webUI/dist
src/manager/dist
node_binaries/node-*
node-*/
node-*.tar.xz
src/config.example.yml
resource_hacker/
upx/

*Quest.user.js
DailyQuestO.ts
