.history/
node_modules/
config.yml
config1.yml
config2.yml
AWA-Helper.exe
*.zip
*.tar
*.tar.gz
!node-v18.17.1-win-x64.zip
output/
log.txt
version
chrome-win
USDailyQuest*
lock
login-key.txt
awa-info.json
node-v16.17.0-win-x64
auto-close
dist/
dist0/
crts/
dailyQuestDbCloud.json
DailyQuestUS.ts
installer/
node-v18.17.1-win-x64/
manager/

test.js
test.ts
test.exe
temp/

# AWA-Manager
server/
tools/
web/
